@import "../../styles/typography";
@import "../../styles/colors";

.table {
    width: 100%;
    border-collapse: collapse;
    table-layout: auto;
    margin-bottom: 40px;

    tr {
        height: 40px;
    }
  
    th, td {
      border: 1px solid #ddd;
      padding: 8px;
      text-align: left;
      vertical-align: middle;
    }

    td {
        &:nth-child(1) {
            font-weight: bold;
        }
    }
  
    th {
      background-color: #f2f2f2;
    }
  
    tr:nth-child(even) {
      background-color: #f9f9f9;
    }
  }
  