@import "../../styles/typography";
@import "../../styles/colors";

.dashboard {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 32px 0;

  &__heading {
    font-size: $sub-heading;
    line-height: 1.5;
    font-weight: bold;
    color: $text;
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 8px;

    h2 {
      font-size: $sub-heading;
      line-height: 1.5;
      color: $text;
    }

    p {
      color: $text;
      line-height: 1.6;
      font-size: $paragraph;
    }
  }

  &__content {
    display: flex;
    align-items: center;
    gap: 16px;
    color: $text;

    @media screen and (max-width: 768px) {
      flex-direction: column-reverse;
      gap: 24px;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 16px;
    color: $text;
  }

  &__list-item-container {
    display: flex;
    align-items: center;
    position: relative;
  }

  &__list-item {
    font-size: $paragraph;
    cursor: pointer;
    user-select: none;
    border: 1px solid $border;
    border-radius: 8px;
    padding: 16px;
    background: $background-secondary;
    text-align: left;
    width: 100%;
    color: $text;

    &:hover {
      background: $background-elements;
    }

    &:disabled {
      position: relative;
      cursor: default;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(255, 255, 255, 0.6);
        backdrop-filter: blur(3px);
        border-radius: 8px;
      }

      &:hover {
        background: $background-secondary;
      }
    }
  }

  &__done {
    height: 24px;
    position: absolute;
    top: -12px;
    left: -12px;
  }

  &__image {
    width: 100%;
    max-width: 360px;
    max-height: 360px;
    border-radius: 16px;

    @media screen and (max-width: 768px) {
      display: none;
    }
  }

  &__message-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px;
    background: lightgreen;
    border-radius: 16px;
  }

  &__message {
    color: $text;
    font-size: $paragraph;
  }

  &__restart-button {
    color: $text;
    border: none;
    padding: 8px;
    cursor: pointer;
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 8px;
    border: 1px solid $border;
    border-radius: 8px;
    background-color: $background-secondary;
    font-weight: 600;

    &:hover {
      background-color: $background;
    }
  }

  &__divider {
    width: 100%;
    height: 2px;
    background-color: $washed-purple;
    margin: 16px 0;
  }

  &__certificate-button {
    width: 100%;
    color: $text;
    border: none;
    padding: 8px;
    cursor: pointer;
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 8px;
    border: 1px solid $border;
    border-radius: 8px;
    background-color: $background-secondary;
    font-weight: 600;

    &:hover {
      background-color: $background;
    }
  }

  .pdf-modal {
    &__viewer {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      min-width: 800px;

      @media (max-width: 1110px) {
        min-width: 100%;
      }
    }
    &__content {
      box-sizing: border-box;
      height: 100%;
      display: flex;
      justify-content: center;
      padding: 16px;

      .labels {
        display: flex;
        flex-direction: column;
        gap: 16px;
        padding: 16px;
        box-sizing: border-box;

        @media (max-width: 1110px) {
          width: 100%;
        }
      }

      label {
        width: 100%;
        display: flex;
        flex-direction: column;
        color: $text;
        gap: 8px;
        font-weight: 700;
      }

      input {
        padding: 8px;
        border: 1px solid $purple;
        border-radius: 4px;
        font-size: $paragraph;
      }

      button {
        padding: 8px 16px;
        background-color: $deep-purple;
        color: #fff;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: $paragraph;
        font-weight: 600;

        &:hover {
          background-color: darken($purple, 10%);
        }
      }

      @media (max-width: 1110px) {
        width: 100%;
        height: 100%;
        flex-direction: column;
        align-items: flex-start; // Center content horizontally
      }
    }
  }
}
