@import "../../styles/typography";
@import "../../styles/colors";

.thank-you-page {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 24px 0 60px;
    color: $text;

    &__heading {
        font-size: $content-heading;
        line-height: 1.5;
        font-weight: bold;
        color: $text;
    }

    &__back {
        color: $text;
        border: none;
        padding: 8px;
        cursor: pointer;
        width: fit-content;
        display: flex;
        align-items: center;
        gap: 8px;
        border: 1px solid $border;
        border-radius: 8px;
        background-color: $background-secondary;
        font-weight: 600;
        margin-top: 16px;
    
        &:hover {
          background-color: $background;
        }
    }
}