$purple: #302576;
$light-purple: #C1B7FB;
$washed-purple: #C7BEFB;
$tinted-purple: #C6BCF7;
$off-purple: #F4F2FE;
$light-gray: #F4F3FF;
$deep-purple: #7D67EB;

$text: $purple;

$background: $light-purple;
$background-elements: $washed-purple;
$background-secondary: $light-gray;

$border: $light-gray;