$purple: #302576;
$light-purple: #C1B7FB;
$washed-purple: #C7BEFB;
$light-gray: #F4F3FF;

$text: $purple;

$background: $light-purple;
$background-elements: $washed-purple;
$background-secondary: $light-gray;

$border: $light-gray;