@import "../../styles/typography";
@import "../../styles/colors";

.question {
  display: flex;
  flex-direction: column;
  gap: 24px;
  color: $text;
  border: 2px solid $light-gray;
  padding: 16px;
  padding-bottom: 24px;

  &__heading {
    font-size: $sub-heading;
    line-height: 1.5;
    font-weight: bold;
    color: $text;
    margin-bottom: 8px;
  }

  &__incorrect {
    border: 2px solid red;
    border-radius: 16px;
    padding: 16px;
    padding-bottom: 24px;
  }

  &__option {
    display: flex;
    align-items: center;
  }

  &__custom-radio {
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    font-size: $paragraph;
    user-select: none;
    line-height: 24px;

    &--disabled {
      cursor: default;

      input {
        cursor: default !important;
      }
    }

    input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
    }

    &-checkmark {
      position: absolute;
      top: -1px;
      left: 0;
      height: 26px;
      width: 26px;
      background-color: $washed-purple;
      border-radius: 50%;

      &--disabled {
        background-color: gray !important;

        &:hover {
          background-color: gray !important;
        }

        &:checked {
          background-color: gray !important;
        }
      }
    }

    &:hover input ~ &-checkmark {
      background-color: $purple;
    }

    input:checked ~ &-checkmark {
      background-color: $purple;
    }

    &-checkmark:after {
      content: "";
      position: absolute;
      display: none;
    }

    input:checked ~ &-checkmark:after {
      display: block;
    }

    &-checkmark:after {
      top: 50%;
      left: 50%;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      transform: translate(-50%, -50%);
      background: white;
    }
  }

  &__text-answer {
    font-size: $paragraph;
    line-height: 1.5;
    margin-top: 8px;
    border-radius: 16px;
    min-height: 200px;
    border: 3px solid $purple;
    padding: 24px;
    color: $text;
    font-family: "Plus Jakarta Sans", sans-serif;
  }
}
