@import '../../styles/typography';
@import '../../styles/colors';

.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 8px;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
  visibility: hidden;
  color: $text;
  display: flex;
  align-items: center;
  border: 0;
  background: none;
  font-weight: 600;
  width: 65px;

  &--visible {
    opacity: 1;
    visibility: visible;
  }

  &--hidden {
    opacity: 0;
    visibility: hidden;
  }

  &__image {
    width: 100%;
    height: 100%;
  }
}

.back-to-top--above-footer {
  bottom: 167px;
}
